@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
}

body {
  background-color: black;
  overflow-x: hidden;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: black;
  }

  .cover-background {
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
  }
}